@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);

@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,200,300,regular,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", "Noto Sans KR", sans-serif;
}

.container {
  padding: 1rem; /*좌우로 간격을 살짝만듬*/
  width: 100%;
  margin: auto; /* 좌우 중앙이됨?*/
  max-width: 1280px;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Common Button Style */
.btn {
  padding: 0.25rem 0.75rem;
  background: rgb(192, 45, 45);
  color: #fff;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background: rgb(252, 60, 60); /* hover 시 배경색 변경 */
}

.btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.6); /* 반짝이는 효과의 색상 */
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

/* Hover 상태에서 효과 적용 */
.btn:hover::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  animation: sparkle-effect 0.6s ease-out forwards;
}

/* 애니메이션 설정 */
@keyframes sparkle-effect {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5); /* 효과가 서서히 사라짐 */
    opacity: 0; /* 완전히 사라짐 */
  }
}

/* Custom Swiper Style */
.swiper {
  padding: 50px 20px !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.swiper .swiper-slide {
  text-align: center;
  border: 1px solid;
  width: 100px;
  height: 100px;
}

/* .swiper .swiper-pagination {
  bottom: -30px !important;
} */

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
}
